<!DOCTYPE html>
<html>
<head>
  <title>served by {{ inventory_hostname }}</title>
</head>
<body>
  <h1>Phase 3 (Ansible) Complete</h1>
  <p>Served by <b>{{ inventory_hostname }}</b></p>
</body>
</html>
